@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #75B79E;
}
h1{
    font-size: 56px;
    margin: 40px auto 0 auto;
}
h2{
    font-size: 20px;
    margin-bottom: 10px;
    }

.boardgame{
    height: 426px;
    width: 100%;
    max-width: 972px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card{
    height: 146px;
    width: 117px;
    position: relative;
}
.face{
    background-color: #A7E9AF;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #99CEA8;
    position: absolute;
    backface-visibility: hidden;
    transition: all .7s;
    transform-style: preserve-3d;
}
.back {
    transform: rotateY(180deg);
}
img {
    width: 100px;
    height: auto;
}

.transformback{
    transform: rotateY(0deg);
}
.transformfront{
    transform: rotateY(-180deg);
}
.acertou{
    filter: grayscale(100%);
}

@media (max-width:335px){
    .boardgame{
        height: 100%;
    }
    h1{
        font-size: 40px;
    }
}